In [2]:
import pandas as pd
import numpy as np 
 
# データ可視化のライブラリ
import matplotlib.pyplot as plt
 
# 機械学習ライブラリ
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [3]:
# graphvizのインポート
import graphviz

# バージョンの確認
print(graphviz.__version__)

# graphvizのインポート
import graphviz
 
# バージョンの確認
print(graphviz.__version__)

0.13.2
0.13.2

In [4]:
# CSVファイルの読み込み
df = pd.read_csv('usd_jpy_api.csv')

In [5]:
df.tail()

                    time    close     open     high      low  volume
495  2018/07/17 06:00:00  112.908  112.320  112.933  112.231   19645
496  2018/07/18 06:00:00  112.866  112.914  113.144  112.723   17432
497  2018/07/19 06:00:00  112.501  112.887  113.187  112.072   26697
498  2018/07/20 06:00:00  111.474  112.504  112.631  111.401   33445
499  2018/07/23 06:00:00  111.164  111.420  111.523  110.760   16040

In [6]:
# 翌日終値 - 当日終値で差分を計算
#shift(-1)でcloseを上に1つずらす
df['close+1'] = df.close.shift(-1)
df['diff'] = df['close+1'] - df['close']
#最終日はclose+1がNaNになるので削る
df = df[:-1]
 
# 最後の5行を確認
df.tail()

,time,close,open,high,low,volume,close+1,diff
494,2018/07/16 06:00:00,112.320,112.252,112.570,112.235,12518,112.908,0.588
495,2018/07/17 06:00:00,112.908,112.320,112.933,112.231,19645,112.866,-0.042
496,2018/07/18 06:00:00,112.866,112.914,113.144,112.723,17432,112.501,-0.365
497,2018/07/19 06:00:00,112.501,112.887,113.187,112.072,26697,111.474,-1.027
498,2018/07/20 06:00:00,111.474,112.504,112.631,111.401,33445,111.164,-0.310

In [7]:
# 上昇と下降のデータ割合を確認
m = len(df['close'])
#df['diff']>0で全行に対してtrueかfalseで返してくれる。df[(df['diff'] > 0)]でdff>0に絞って全てのカラムを出力
print(len(df[(df['diff'] > 0)]) / m * 100)
print(len(df[(df['diff'] < 0)]) / m * 100)

50.70140280561122
49.298597194388776

In [8]:
mask1 = df['diff'] > 0
mask2 = df['diff'] < 0
column_name = 'diff'
df.loc[mask1, column_name] = 1
df.loc[mask2, column_name] = 0
 
# 最初の5行を表示
df.head()

,time,close,open,high,low,volume,close+1,diff
0,2016/08/19 06:00:00,100.256,99.919,100.471,99.887,30965,100.335,1.0
1,2016/08/22 06:00:00,100.335,100.832,100.944,100.221,32920,100.253,0.0
2,2016/08/23 06:00:00,100.253,100.339,100.405,99.950,26069,100.460,1.0
3,2016/08/24 06:00:00,100.460,100.270,100.619,100.104,22340,100.546,1.0
4,2016/08/25 06:00:00,100.546,100.464,100.627,100.314,17224,101.876,1.0

In [9]:
df.rename(columns={"diff" : "target"}, inplace=True)
 
# 不要なカラムを削除
del df['time']
del df['close+1']
 
# カラムの並び替え
df = df[['target', 'close', 'open', 'high', 'low', 'volume']]
 
# 最初の5行を出力
df.head()

   target    close     open     high      low  volume
0     1.0  100.256   99.919  100.471   99.887   30965
1     0.0  100.335  100.832  100.944  100.221   32920
2     1.0  100.253  100.339  100.405   99.950   26069
3     1.0  100.460  100.270  100.619  100.104   22340
4     1.0  100.546  100.464  100.627  100.314   17224

In [10]:
n = df.shape[0]
p = df.shape[1]
 
# 訓練データとテストデータへ分割
train_start = 0
train_end = int(np.floor(0.8*n))
test_start = train_end + 1
test_end = n
#data_train = np.arange(train_start, train_end)
#print(data_train)

#data_train = df[:, :]

data_train = df[np.arange(train_start, train_end), :]
#data_test = df[np.arange(test_start, test_end), :]
 
# 訓練データとテストデータのサイズを確認
#print(data_train.shape)
#print(data_test.shape)

TypeError: '(array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398]), slice(None, None, None))' is an invalid key